{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}


{% block title %}TODO LIST{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">️ 📜 WELCOME 📜️ </h1>
  <p class="lead">What is your task to remember?</p>
<!--  <a class="btn btn-warning btn-lg" href="" role="button">ADD ITEM!</a>-->
        <form action="{{ url_for('add') }}" method="POST">
    <label for="task-form">Write your item here :</label>
    <input type="text" id="task" name="taskname">
        <button type="submit">ADD ITEM</button>
        </form>
        <hr class="my-4">
        <h2>List of active task:</h2>
        <ul id="incomplete-tasks">
            {% for todo in incomplete %}
            <li><input type="checkbox"><label>{{ todo.text }}</label>

                <a href="{{ url_for('complete', id=todo.id) }}">
                    <button class="delete">Complete</button></a>


            </li>
            {% endfor %}
		</ul>

        <hr class="my-4">
        <h3>List of completed task:</h3>

        <ul id="completed_task">
            {% for todo in complete %}
            <li>{{ todo.text }}</li>
                <a href="/delete/{{ todo.id }}">
                    <button class="delete">Delete</button></a>
            {% endfor %}
        </ul>
                <hr class="my-4">
        <h6>Page is written by The Meg.©️</h6>
</div>
    </div>



{% endblock %}